.dashboardPage {
  background-image: url("/public/Images/DashboardBgImg.png");
  background-color: #eceef1;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.header {
  position: relative;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid rgba(40, 106, 222, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  height: 28px;
}

.profileIcon {
  position: absolute;
  right: 160px;
  border-bottom: 1px solid rgba(40, 106, 222, 0.15);
  height: 36px;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.profileIcon:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.profileIcon:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
  .profileIcon {
    right: 130px;
  }
}

@media screen and (max-width: 800px) {
  .profileIcon {
    right: 100px;
  }
}

.dashboardCards {
  margin: 40px 240px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.footer {
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  text-align: center;
  font-size: 12px;
}