:root {
  background-color: #eceef1;
}

.header {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid rgba(40, 106, 222, 0.25);
}

.logoImage {
  height: 28px;
}

.footer {
  padding-bottom: 2px;
}

.footer__text {
  text-align: center;
  font-size: 12px;
  color: #505050;
}

/* Utilities */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginSection {
  width: 360px;
  height: auto;
  padding: 18px 36px;
  margin: 64px auto 24px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.loginHeader {
  color: #286ade;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(40, 106, 222, 0.15);
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.loginInputName {
  margin-bottom: 6px;
  color: #404040;
  font-weight: 500;
}

.loginInputField {
  width: 340px;
  height: 34px;
  border: 1px solid rgba(40, 106, 222, 0.3);
  border-radius: 3px;
  outline: none;
  margin-bottom: 6px;
  padding: 6px 8px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
}

.loginInputErrorMsg {
  font-size: 12px;
  color: #ed3432;
  margin-bottom: 8px;
}

.signupRedirect {
  margin-top: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

.signupRedirectLink {
  color: #0647b8;
  text-decoration: underline;
  cursor: pointer;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  color: #757575;
  margin-top: 18px;
}

.highlight {
  color: #286ade;
}
